@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero-primary">
    <div class="container">
        <h1 id="hero-title">Unity documentation</h1>
        <p id="hero-summary">Learn how to use Unity with documentation that actually makes sense.</p>
    </div>
</section>