<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UnityDocs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div class="disclaimer-banner">
        <div class="container">
            This is a work-in-progress passion project which aims to rewrite Unity documentation in the style of MSDN.
            <strong>This project is not affiliated with Unity Technologies or Microsoft.</strong>
        </div>
    </div>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-msdn border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="https://unity3d.com/">
                <img src="https://unity3d.com/profiles/unity3d/themes/unity/images/ui/ui/unity-logo-white.svg" height="30" alt="Unity">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item category">
                        <a class="nav-link text-light title" asp-area="" asp-page="/Index">
                            <span>Docs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light active" asp-area="" asp-page="/Index">
                            <span>Documentation</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="https://unity.com/learn">
                            <span>Learn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - UnityDocs - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js" integrity="sha512-PqRelaJGXVuQ81N6wjUrRQelCDR7z8RvKGiR9SbSxKHPIt15eJDmIVv9EJgwq0XvgylszsjzvQ0+VyI2WtIshQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/site.min.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>